body {
background-image: url("space1.gif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: white;
}
h1{
color: aquamarine;
background-color: rgb(11,7,1);
text-decoration: :underline


